.cartWrapper {
	width: 90% !important;
	margin: auto !important;
	border-radius: 0px !important;
	background-color: white !important;
}

.quantity {
	display: flex !important;
	justify-content: space-evenly !important;
}
