.total {
	position: fixed;
	bottom: 3% !important;
	background-color: #ffffff !important;
	box-shadow: 1px 1px 2px 2px #ccc !important;
}

.receive {
	border-radius: 0px !important;
	padding: 1em !important;
	text-transform: uppercase !important;
}
