.logo {
	width: 40px !important;
	height: 40px !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.topMenu {
	border: 0px !important;
	border-radius: 0px !important;
	background-color: transparent !important;
}
